@model statistiques_ski.Models.Sortie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sortie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.CentreDeSki.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentreDeSki.Nom)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SaisonID, "Saison")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saison.FormattedName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NbDescente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbDescente)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NbPiedVert, "Pieds verticaux")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPiedVert)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Date, "Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
