@model statistiques_ski.Models.Sortie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sortie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.CentreDeSki.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentreDeSki.Nom)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SaisonID, "Saison")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saison.FormattedName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NbDescente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbDescente)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NbPiedVert, "Pieds verticaux")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPiedVert)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Date, "Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SortieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
