@model IEnumerable<statistiques_ski.Models.Sortie>

@{
    ViewBag.Title = "Index";
    bool futureAsc = ViewBag.isAsc != null ? !ViewBag.isAsc : false;
    string fleche = futureAsc ? "▲" : "▼";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CentreDeSki.Nom)
        </th>
        <th>
            @Html.ActionLink("Nombre de Descentes" + (ViewBag.orderBy == "NbDescente" ? fleche : ""), "Index", new { orderBy = "NbDescente", asc = futureAsc })
        </th>
        <th>
            @Html.ActionLink("Nombre de pied verticaux" + (ViewBag.orderBy == "NbPiedVert" ? fleche : ""), "Index", new { orderBy = "NbPiedVert", asc = futureAsc })
        </th>
        <th>
            @Html.ActionLink("Date" + (ViewBag.orderBy == "Date" ? fleche : ""), "Index", new { orderBy = "Date", asc = futureAsc })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentreDeSki.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbDescente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbPiedVert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SortieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SortieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SortieID })
        </td>
    </tr>
}

</table>
