@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3>Filtrer par region:</h3>
    <select name="filterBy">
        <option value="0">Tous</option>
        @foreach (var item in ViewBag.regions)
        {
            if (item.RegionID == ViewBag.RegionID)
            {
                <option value="@item.RegionID" selected="selected">@item.NomRegion</option>
            }
            else
            {
                <option value="@item.RegionID">@item.NomRegion</option>
            }
        }
    </select>
    <input type="submit" value="Filtrer" class="btn btn-default" />
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Saison</th>
            @foreach (var item in ViewBag.saisons)
            {
                <th class="text-center">@item.FormattedName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var centreDeSki in ViewBag.centreDeSkis)
        {
            int nbSortieTotalAVie = 0;
            foreach (var saison in ViewBag.saisons)
            {
                foreach (var sortie in ViewBag.sorties)
                {
                    if (sortie.CentreDeSkiID == centreDeSki.CentreDeSkiID)
                    {
                        if (sortie.SaisonID == saison.SaisonID)
                        {
                            nbSortieTotalAVie++;
                        }
                    }
                }
            }
            if (nbSortieTotalAVie == 0)
            {
                <tr class="alert-info">
                    <td>@centreDeSki.Nom</td>
                    @foreach (var saison in ViewBag.saisons)
                    {
                        <td></td>
                    }
                </tr>
            }
            else
            {
                <tr>
                    <td>@centreDeSki.Nom</td>
                    @foreach (var saison in ViewBag.saisons)
                    {
                        int nbSortieTotal = 0;
                        foreach (var sortie in ViewBag.sorties)
                        {
                            if (sortie.CentreDeSkiID == centreDeSki.CentreDeSkiID)
                            {
                                if (sortie.SaisonID == saison.SaisonID)
                                {
                                    nbSortieTotal++;
                                }
                            }
                        }
                        if (nbSortieTotal == 0)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td class="text-center">@nbSortieTotal</td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>