@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3>Filtrer par region:</h3>
    <select name="filterBy">
        <option value="0">Tous</option>
        @foreach (var item in ViewBag.regions)
        {
            if (item.RegionID == ViewBag.RegionID)
            {
                <option value="@item.RegionID" selected="selected">@item.NomRegion</option>
            }
            else
            {
                <option value="@item.RegionID">@item.NomRegion</option>
            }
        }
    </select>
    <input type="submit" value="Filtrer" class="btn btn-default" />
}

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th></th>
            @foreach (var item in ViewBag.saisons)
            {
                <th class="text-center">@item.FormattedName</th>
            }
            <th class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var centreDeSki in ViewBag.centreDeSkis)
        {
            int nbSortieTotalParCentreDeSki = 0;
            foreach (var saison in ViewBag.saisons)
            {
                foreach (var sortie in ViewBag.sorties)
                {
                    if (sortie.CentreDeSkiID == centreDeSki.CentreDeSkiID)
                    {
                        if (sortie.SaisonID == saison.SaisonID)
                        {
                            nbSortieTotalParCentreDeSki++;
                        }
                    }
                }
            }
            if (nbSortieTotalParCentreDeSki == 0)
            {
                <tr>
                    <td class="success">@centreDeSki.Nom</td>
                    @foreach (var saison in ViewBag.saisons)
                    {
                        <td></td>
                    }
                    <td class="text-right">0</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@centreDeSki.Nom</td>
                    @foreach (var saison in ViewBag.saisons)
                    {
                        int nbSortieParSaisonParCentreDeSki = 0;
                        foreach (var sortie in ViewBag.sorties)
                        {
                            if (sortie.CentreDeSkiID == centreDeSki.CentreDeSkiID)
                            {
                                if (sortie.SaisonID == saison.SaisonID)
                                {
                                    nbSortieParSaisonParCentreDeSki++;
                                }
                            }
                        }
                        if (nbSortieParSaisonParCentreDeSki == 0)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td class="text-center">@nbSortieParSaisonParCentreDeSki</td>
                        }
                    }
                    <td class="text-right">@nbSortieTotalParCentreDeSki</td>
                </tr>
            }
        }
        <tr>
            <td>Total</td>
            @{int nbSortieTotal = 0;}
            @foreach (var saison in ViewBag.saisons)
            {
                int nbSortieTotalParSaison = 0;
                foreach (var sortie in ViewBag.sorties)
                {
                    if (sortie.SaisonID == saison.SaisonID)
                    {
                        if (ViewBag.RegionID != 0)
                        {
                            if (sortie.CentreDeSki.RegionID == ViewBag.RegionID)
                            {
                                nbSortieTotalParSaison++;
                                nbSortieTotal++;
                            }
                        }
                        else
                        {
                            nbSortieTotalParSaison++;
                            nbSortieTotal++;
                        }
                    }
                }
                <td class="text-right">@nbSortieTotalParSaison</td>
            }
            <td class="text-right">@nbSortieTotal</td>
        </tr>
    </tbody>
</table>